*{
    margin: 0;
    padding: 0;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.container{

   
    
    height: 500px;
    width: 500px;
    background-color: white;

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    
}

img{
    margin: 5%;
    border-radius: 5%;
}

pre{
    margin-top: 2%;
    margin-left: 5%;
    margin-right: 5%;
    /* margin-bottom: 5%; */
}

#price{
    display: flex;
    margin-left: 6px;

    
}

#price div{
    margin-right: 10px;
    margin-left: 15px;
}

button{
    border: 0;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    background-color: green;
    color: white;
    text-align: center;
}

#org-price{
    color: blue;
}